<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Cloud</title>
    <style>

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<form action="http://www.wordle.net/advanced" method="POST">
    <textarea name="text" style="display:none">
        How much wood would a woodchuck chuck if
        a woodchuck could chuck wood?
    </textarea>
    <input type="submit">
</form>
<div id="map"></div>
<script>

    /*YOUR CODE HERE*/
</script>
</body>
</html>